
/*美化滚动条*/
::-webkit-scrollbar {
	width: 8px;
} /* 这是针对缺省样式 (必须的) */
::-webkit-scrollbar-track {
	  background-color: #333;
	  border-radius: 10px;
} /* 滚动条的滑轨背景颜色 */

::-webkit-scrollbar-thumb {
	  background-color: rgba(0, 0, 0, 0.2); 
	  background: #ccc;
	  border-radius: 10px;
} /* 滑块颜色 */

::-webkit-scrollbar-button {
	 /* background-color: #333;
	  border-top-right-radius: 10px;
	  border-top-left-radius: 10px;*/

} /* 滑轨两头的监听按钮颜色 */

::-webkit-scrollbar-corner {
	  background-color: black;
} /* 横向滚动条和纵向滚动条相交处尖角的颜色 */

/*个人主页*/
.home{
	background: url(../img2/home_back.jpg) no-repeat;
	background-size:cover; 
}
.home_one{
	background: url(../img2/home_back2.jpg);
}
.curr{
	background: rgba(255,255,255,0.5);
}
.b-color{
	color: #3a3acc!important;
}
/*内容*/
.home_center{
	background:rgba(255,255,255,0.1);
	border-radius: 10px;
	box-shadow: 0 0 30px 2px #eee;
	position: fixed;;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 20px 50px;
	margin-bottom: -10px;
}
/*顶部*/
.home_top{
	line-height: 60px;
	border-radius: 10px;  
	position: fixed;
	top: 30px;
	left: 320px;
	right: 80px;
	background:rgba(255,255,255,0.3);
	z-index: 100;
}
.home_top ul li{
	margin:0 10px;
	text-align: center;
	flex: 1;
	border-radius: 10px;
}
.home_top ul li:first-child{
	margin-left: 0!important;
}
.home_top ul li:last-child{
	margin-right: 0!important;
}

/*左边*/
.home_left{
	text-align: center;
	width: 200px;
	height: 500px;
	border-radius: 10px;
	line-height: 50px;
	position: fixed;;
	top: 100px;
	left: 60px;
	background:rgba(255,255,255,0.1);
	z-index: 100;
}
.home_left img{
	display: inline-block;
	width: 150px;
	height: 150px;
	border: 4px solid #ccc;
	border-radius:50%;
	margin-top: 30px;
}
.home_left .fs-30{
	color: #333;
	font-weight: 500;
}
.home_left .fs-16{
	color: #8A4F19;
}
.home_left ul li a .fa{
	width: 25px;
	line-height: 25px;
	border-radius: 50%;
	background: #eee;
	font-size: 20px;
	margin:0 15px;
}


/*右边*/
.home_right{
	position: fixed;
	top:100px;
	left: 280px;
	right: 0px;
	bottom: 0;
	padding-right: 80px;
	overflow: auto;
}
.home_right .text{

}




/*音乐盒*/
.wrapper{
	width: 440px;
	height: 500px;
	margin: 0 auto;
	background: #eef1f2;
/*	position: relative;
	top: 50%;
	margin-top: -250px;*/
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0px 6px 7px #999;
}
.background{
	width: 100%;
	height: 270px;
	position: relative;
	text-align: center;
}
.background .music-lyric{  
	width: 100%;
	height: 270px;
	padding: 20px 0;
	background-color: rgba(100, 100, 100, 0.5)
}
.background .music-lyric .lyric-view{
	height: 230px;
	overflow: hidden;
}
.background .music-lyric ul{
	position: relative;
	transition: all 1s;
}
.lyric li{
	padding: 5px 0 2px 0;
	position: relative;
	text-align: center;
	color: rgba(255, 255, 255, 0.6);
	font-size: 12px ;
	transition: all 1s;
}
.lyric li.active {
  font-size: 13px;
  color: #ffffff;
}
.content{
	height: 100px;
	width: 400px;
	padding-left: 20px;
}
.content .music-massage{
	display: inline-block;
	width: 280px;
	height: 100%;	
}
.content .music-massage p{
	cursor: default;
}
.content .musicname{
	font-weight: bold;
	font-size: 26px;
	color: #455569;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
}
.content .musicer{
	font-weight: bold;
	font-size: 18px;
	color: #455569;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
}
.content .record{
	font-size: 14px;
	color: #455569;
	margin-top: 4px;
}
.content .music-icon{
	float: right;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.content .music-icon a,.content .music-icon span{
	margin-left: 10px;
	font-size: 22px;
}
span.colored,a.colored{color: #cdd2d7;}
span.stared{color: #feec98}
span.loved{color: #fe8698}
.content .music-icon span:hover{
	text-shadow: 1px 1px 1px #ccc;
}
.basebar{
	display: block;
	border:none;
	width: 400px;
	height: 4px;
	margin: 0px auto 10px auto;
	border-radius: 2px;
	background-color: #414141;
	position: relative;
}
.basebar .progressbar{
	display: block;
	border:none;
	width: 0%;
	height: 4px;
	border-radius: 2px;
	background-color: #cdd2d7;
}
.controls{
	width: 400px;
	height: 50px;
	padding: 20px 20px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.controls .play-control,.music-control{
	display: inline-block;
}
.controls .play-control .btn1{
	display: inline-block;
	width: 38px;
	height: 38px;
	border-radius: 19px;
	background: #414141;
	color: #d9d9d9;
	font-size: 20px;
	text-align: center;
	line-height: 38px;
}
.controls .play-control .btn2,.btn3{
	display: inline-block;
	width: 28px;
	height: 28px;
	border-radius: 14px;
	background: #414141;
	color: #d9d9d9;
	font-size: 16px;
	text-align: center;
	line-height: 28px;
}
.controls .music-control{
	float: right;
	line-height: 38px;
}
.controls .music-control span{
	margin-left: 10px;
	font-size: 22px;
}
.controls .music-control span:hover{
	text-shadow: 1px 1px 1px #ccc;
}
.controls .music-control span.lyriced{color: #414141}
.controls .music-control span.recycleed{color: #414141}